*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif ;
}

html {
    user-select: none;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body{
    --nav-height: 50px;
    padding-top: var(--nav-height);
    color: #171717;
    background: white;
    background-size: cover;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column  ;
}
body::-webkit-scrollbar {
    display: none;
  }
nav{
    background: #f15b26;
    display: flex;
    flex-direction: row;
    top: 0;
    z-index: 1;
    list-style: none;
    height: 50px;
    width: 100%;
    position: fixed;
    transition: 0.2s;
    align-items: center;
    z-index: 2;
}
#navigator{
    display: none;
}
#logo{
    margin-left: 50px;
    line-height: 80px;
    width: 45px;
    height: 40px;
    
}
nav label{
    line-height: 80px;
    font-size: 30px;
    font-weight: bold;
    color: #f9f9f9;
}
nav ul {
    margin-left: 70%;
    margin-right: 20px;
}

nav ul h6 {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul h6 a{
    color: #f9f9f9;
    font-size: 17px;
    font-weight: bold;
    padding: 7px 13px;
    border-radius: 3px;
    text-decoration: none;
    transition: 0.2s;
    border-radius: 50px;
}
nav ul h6 a:hover{
    background-color: #f9f9f9 ;
    color: #f15b26;
}
.nav--hidden{
    transform: translateY(calc(-1 * var(--nav-height)));
}
.header{
    width: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    display: flex;
    background: #f9fafc;
}
.background{    
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    background: url("assets/psu1.jpg") no-repeat center;
    background-size: cover;
    filter: blur(5px);
    justify-self: center;
    align-self: center;
    
}
.heading-confirm{
    width: fit-content;
    height: fit-content;
    align-self: center;
    display: flex;
    flex-direction: column;
    padding: 75px;
    text-align: center;
    z-index: 1;
}
#sepo{
    font-size: 60px;
    font-weight: bolder;
    border-radius: 30px;
    color: #f9f9f9;
}
.heading-confirm a{
    margin-top: 30px;
    border: none;
    padding: 18px;
    justify-self: center;
    align-self: center;
    border-radius: 50px;
    font-size: 15px;
    background: #f9f9f9;
    cursor: pointer;
    border: solid 1px #f15b26;
    text-decoration: none;
    color: #f15b26;
    font-weight: bold;
    transition: 0.2s;
}

.heading-confirm a:hover{
    background-color: #f15b26;
    color: #fbeaff;
    transition: 0.2s;
}

.header img{
    width: 350px;
    height: 300px;
    align-self: center;
    margin-bottom: 30px;
}
.verify-page{
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    background: #f9fafc;
    padding: 10px;
}
.booking-container{
    width: 75%;
    display: flex;
    justify-content: space-evenly;
    justify-self: center;
    align-self: center;
    background: white;
    border-radius: 30px;
    box-shadow: 0px 0px 50px 10px #fbeaff;
    padding: 10px;
}
.requirements{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    justify-self: center;
    align-self: center;
    text-align: center;
    color: #171717;
}
.requirements ul{
    padding: 20px;
}
.requirements ul li{
    margin-bottom: 20px;
    
}
.booking{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    font-size: 15px;
    padding: 20px;
    border-radius: 30px;
}
.booking h1{
    text-align: center;
}
.booking img{
    padding: 20px;
    width: 225px;
    height: 200px;
    align-self: center;
    
}
.date-duration{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 10px;
}
.start-date{
    margin-right: 5px;
    max-width: 100%;
}
.end-date{
    margin-left: 5px;
    max-width: 100%;
}
.time-duration{
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    
}
.start-time{
    margin-right: 5px;
    width: 100%;
}
.end-time{
    margin-left: 5px;
    width: 100%;
}
.booking select, input{
    font-size: 15px;
    height: 30px;
    border: solid 2px gray;
    border-radius: 10px;
    width: 100%;
}
.booking select{
    max-width: 100%;
    height: 35px;
}
.booking textarea{
    resize: none;
}
.booking label{
    margin-top: 10px;
}

.booking button{
    width: 50%;
    margin-top: 10px;
    border: solid 1px #f15b26; 
    border-radius: 50px;
    font-size: 15px;
    font-weight: bold;
    align-self: center;
    background: #f9fafc;
    color: #f15b26;
    padding: 10px;
    cursor: pointer;
    transition: 0.2s;
}
.booking button:hover{
    background-color: #f15b26;
    color: #fbeaff;
    transition: 0.2s;
}

#message{
    font-size: 15px;
    height: 100px;
    border-radius: 10px;
}
.calendar{
    width: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: #f9fafc;
}
.calendar-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: white;
    width: 75%;
    align-self: center;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0px 0px 50px 10px #fbeaff;
    overflow: hidden;
}
.calendar-container iframe{
    max-width: 100%;
    justify-self: center;
    align-self: center;
    padding: 10px;
    border-radius: 20px;    
    font-family: 'Poppins', sans-serif;
}
.calendar h1{
    align-self: center;
    font-size: 45px;
    margin-bottom: 50px;
}


.contact-us{
    width: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background-color: #f9fafc;
}

.contact-us h1{
    margin-top: 100px;
    font-size: 50px;
    text-align: center;
    justify-self: center;
    align-self: center;
}
.contact-us p{
    font-size: 20px;
    text-align: center;
    justify-self: center;
    align-self: center;
}
.contact-container{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    width: auto;
}

.contact-container form{
    width: 20%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    font-size: 15px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 30px 2px #fbeaff;
    overflow: hidden;
    justify-self: center;
    align-self: center;
}
.contact-container form img{
    max-width: 80%;
    height: auto;
    align-self: center;
}
.contact-container label, textarea, input{
    margin-bottom: 10px;
    resize: none;
}
.contact-container form button{
    align-self: start;
}
.contact-container form button{
    width: 40%;
    margin-top: 10px;
    border: solid 1px #f15b26;
    border-radius: 50px;
    font-size: 15px;
    font-weight: bold;
    align-self: center;
    background: #f9fafc;
    color: #f15b26;
    padding: 10px;
    cursor: pointer;
    transition: 0.2s;
}
.contact-container form button:hover{
    background-color: #f15b26;
    color: #fbeaff;
    transition: 0.2s;
}
.mapouter{
    margin: 20px;
    position:relative;
    text-align:right;
    height:100%;
    width:35%;
    align-self: center;
    justify-self: center;

}
.gmap_canvas {
    overflow:hidden;
    background:none
    !important;
    height:100%;
    width:100%;
}
#up{
    margin-top: 50px;
    cursor: pointer;
}
.footer{
    width: 100%;
    background: #181818;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    text-align: center;
}
.footer h1{
    font-size: 20px;
    color: white;
    padding: 10px;
}
.footer p{
    font-weight: lighter;
    font-size: 11px;
    color:white;
    padding: 10px;
}

@media (max-width: 1709px){
    nav ul {
        margin-left: 50px;
        margin-right: 20px;
    }
}
@media (max-width: 1069px){
    .requirements{
        font-size: 11px;
    }
    .booking-container{
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }
    .booking{
        padding: 2px;
        width: auto;
    }
    .booking label{
        font-size: 12px;
    }
    .booking select, input{
        font-size: 12px;
        height: 30px;
        border: solid 2px gray;
        border-radius: 10px;
    }
    .booking-container form img{
        width: 125px;
        height: 100px;
    }
    .booking-container form h1{
        font-size: 20px;
    }
    .booking button{
        font-size: 11px;
    }
    .contact-us{
        height: 120%;
        padding: 20px;
    }

    .contact-us h1{
        font-size: 30px;
    }
    .contact-us p{
        font-size: 16px;
        text-align: center;
    }
    .contact-container{
        flex-direction: column;
    }
    .mapouter{
        width: 90%;
    }
    .gmap_canvas a{
        display: none;
    }
    .contact-container form{
        width: 90%;
    }
    .contact-container form button{
        font-size: 11px;
    }
    #up{
        font-size: 12px;
    }
}
@media (max-width: 267px){
    .header{
        display: none;
    }
}
@media (max-width: 768px){
    .background{
        width: 90%; height: 90%;
        border-radius: 30px;
    }
    #navigator{
        position: fixed;
        display: block;
        margin-top: 8px;
        line-height: 50px;
    }
    
    nav ul {
        position: fixed;
        width: 55%;
        height: 100%;
        top: 50px;
        left: -110%;
        text-align: center;
        transition: all .3s;
        background-color: #f9f9f9;
      }
      nav ul h6{
        display: block;
        margin: 30px 0;
        line-height: 30px;
      }
      nav ul h6 a{
        font-size: 18px;
        color: #f15b26;
      }
      nav ul h6 a:hover{
        transition: 0.2s;
        background: #EDEDED;
      }
      .active ul{
        left: -50px;
      }
      .active .checkbtn{
        display: none;
      }
      .active .closebtn{
        display: block;
      }
    /*first page*/
    #sepo{
        font-size: 40px;
    }
    .heading-confirm a{
        font-size: 11px;
    }
    .header img{
        width: 225px;
        height: 200px;
    }
    /*second page*/
    .verify-page{
        height: 120%;
    }
    .booking-container{
        overflow: hidden;
        width: 90%;
    }
    /*third page*/


    .calendar{
        height: 120%;
    }
    .calendar-container{
        margin-top: 50px;
        text-align: center;
    }
    .calendar-container h1{
        font-size: 20px;
    }
    .calendar-container iframe{
        width: auto;
        height: 600px;
        padding: 0px;
        border: none;
        border-radius: 5px;
    }


    /*fourth page*/

    
}
/*DEPLOYED*/